# Show line and column numbers
set const

#auto-indent new lines
#set autoindent # Haven't figured out how to make paste play nice
## Soft tabs
set tabstospaces
## Width 2
set tabsize 2

include ~/.nano/*.nanorc

include /usr/local/share/nano/*.nanorc
