"*":
  "atom-beautify":
    general:
      _analyticsUserId: "4fdacc2f-094c-4b77-9678-b17f44d0acd1"
    json:
      indent_size: 2
      keep_array_indentation: true
  "autocomplete-python":
    useKite: false
    useSnippets: "required"
  core:
    customFileTypes:
      "source.dotfiles": [
        "nanorc"
        "brewfile"
        "macos"
      ]
      "source.shell": [
        "extra"
      ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "an-old-hope-syntax"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "59679e97-877a-be0d-5cdb-fc639e15f075"
  "git-diff-details":
    closeAfterCopy: true
    enableSyntaxHighlighting: true
  "git-plus":
    experimental: {}
    general:
      _analyticsUserId: "9792c6bb-7ab5-4322-81a8-c5c349ce8fb2"
      messageTimeout: 7
      splitPane: "Right"
  "line-ending-selector":
    defaultLineEnding: "LF"
  "merge-conflicts": {}
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "one-dark-ui": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    preferredLineLength: 120
".protobuf.source":
  editor:
    preferredLineLength: 120
