#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
  cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# useful for converting .plist files
function default_bin_to_xml() {
  plutil -convert xml1 $1
}

# useful for converting .plist files
function default_xml_to_bin() {
  plutil -convert binary1 $1
}

# Determine size of a file or total size of a directory
function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh;
  else
    local arg=-sh;
  fi;
  if [[ -n "$@" ]]; then
    du $arg -- "$@";
  else
    du $arg .[^.]* ./*;
  fi;
}

function json() {
  if [ -t 0 ]; then # argument
    python -mjson.tool <<< "$*" | pygmentize -l javascript;
  else # pipe
    python -mjson.tool | pygmentize -l javascript;
  fi;
}

# Diff 2 directories ingoring binaries #http://stackoverflow.com/a/9752856
function diff_folders() {
  diff -r $1 $d2 | sed '/Binary\ files\ /d' > ~/Desktop/folder_diff_results
}

# `a` with no arguments opens the current directory in Atom Editor, otherwise
# opens the given location
function a() {
  if [ $# -eq 0 ]; then
    atom .;
  else
    atom "$@";
  fi;
}

function o() {
  if [ $# -eq 0 ]; then
    open .;
  else
    open "$@";
  fi;
}

function scan_open_ports () {
  nmap -Pn "$@"
}

# preview csv files. source: http://stackoverflow.com/questions/1875305/command-line-csv-viewer
function preview_csv(){
  sed 's/,,/, ,/g;s/,,/, ,/g' "$@" | column -s, -t | less -#2 -N -S
}

# Extract archives - use: extract <file>
# Based on http://dotfiles.org/~pseup/.bashrc
function extract() {
  if [ -f "$1" ] ; then
    local filename=$(basename "$1")
    local foldername="${filename%%.*}"
    local fullpath=`perl -e 'use Cwd "abs_path";print abs_path(shift)' "$1"`
    local didfolderexist=false
    if [ -d "$foldername" ]; then
      didfolderexist=true
      read -p "$foldername already exists, do you want to overwrite it? (y/n) " -n 1
      echo
      if [[ $REPLY =~ ^[Nn]$ ]]; then
        return
      fi
    fi
    mkdir -p "$foldername" && cd "$foldername"
    case $1 in
      *.tar.bz2) tar xjf "$fullpath" ;;
      *.tar.gz) tar xzf "$fullpath" ;;
      *.tar.xz) tar Jxvf "$fullpath" ;;
      *.tar.Z) tar xzf "$fullpath" ;;
      *.tar) tar xf "$fullpath" ;;
      *.taz) tar xzf "$fullpath" ;;
      *.tb2) tar xjf "$fullpath" ;;
      *.tbz) tar xjf "$fullpath" ;;
      *.tbz2) tar xjf "$fullpath" ;;
      *.tgz) tar xzf "$fullpath" ;;
      *.txz) tar Jxvf "$fullpath" ;;
      *.zip) unzip "$fullpath" ;;
      *) echo "'$1' cannot be extracted via extract()" && cd .. && ! $didfolderexist && rm -r "$foldername" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

# who is using the laptop's iSight camera?
camerausedby() {
  echo "Checking to see who is using the iSight camera… 📷"
  usedby=$(lsof | grep -w "AppleCamera\|USBVDC\|iSight" | awk '{printf $2"\n"}' | xargs ps)
  echo -e "Recent camera uses:\n$usedby"
}

function tree_directory() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

# makes an animated gif out of images in a directory https://github.com/gjreda/dotfiles/blob/master/.functions
gifme () {
  ffmpeg -f image2 -r 10 -i %d.png -s 480x360 -filter:v "setpts=3.0*PTS" animate.avi
  convert -delay 25 -loop 0 animate.avi "$1.gif"
  rm animate.avi
}

# remove newlines & extra spaces
function replace_newlines_with_spaces () {
  sed -i ':a;N;$!ba;s/\n/ /g' "$@";
  sed -i 's/ \+/ /g' "$@";
}

# wrap isql export
function isql_export_to_text () {
  if [ "$#" -ne 3 ]; then
    echo "Illegal number of parameters";
    echo "Should be export_isql odbc_dsn_name sql_file text_file";
    return 1;
  fi;
  replace_newlines_with_spaces $2;
  isql -v -b -3 -d"|" $1 < $2 > $3;
}
