#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
  cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

# for global pip https://hackercodex.com/guide/python-development-environment-on-mac-osx/
function gpip(){
   PIP_REQUIRE_VIRTUALENV="" && pip "$@" && PIP_REQUIRE_VIRTUALENV=true
}

# useful for converting .plist files
function default_bin_to_xml() {
  plutil -convert xml1 $1
}

# useful for converting .plist files
function default_xml_to_bin() {
  plutil -convert binary1 $1
}

# Determine size of a file or total size of a directory
function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh;
  else
    local arg=-sh;
  fi;
  if [[ -n "$@" ]]; then
    du $arg -- "$@";
  else
    du $arg .[^.]* ./*;
  fi;
}

function json() {
  if [ -t 0 ]; then # argument
    python -mjson.tool <<< "$*" | pygmentize -l javascript;
  else # pipe
    python -mjson.tool | pygmentize -l javascript;
  fi;
}

# Diff 2 directories ingoring binaries #http://stackoverflow.com/a/9752856
function diff_folders() {
  diff -r $1 $d2 | sed '/Binary\ files\ /d' > ~/Desktop/folder_diff_results
}

# `a` with no arguments opens the current directory in Atom Editor, otherwise
# opens the given location
function a() {
  if [ $# -eq 0 ]; then
    atom .;
  else
    atom "$@";
  fi;
}

function o() {
  if [ $# -eq 0 ]; then
    open .;
  else
    open "$@";
  fi;
}

function scan_open_ports () {
  nmap -Pn "$@"
}
